<div class="well">
  <div class="banner">
    <h1> Cackling Kraken's Curios</h1>
    <h5> We don't even know what we are selling either.</h5>
  </div>

  <% if user_signed_in? %>
   <h2> Congratulations <%= @user.user_name %>, you have been given access to invetory of rare treasures, and junk! </h2>
   <% else %>
   <h3>Hey stranger if you are looking to buy or review any of the merchandise you need to sign up with us!</h3>
  <% end %>
</div>

<div class="well">
  <h2>The origin of the Cackling Kraken</h2>
  <br>
  <p> My family once had a flourishing trade bussiness. Once.  It is no more thanks to that damned Kraken. Yes, I beleive there is a Kraken.  It sunk ever last boat we had.  My family's empire destroyed I set out to turn a profit, from the wrecks one piece at a time.  Though I swear when I am in the briny deep, I could hear someone, or something cackling as I sift through the wreckage.</p>

</div>
<div class="well">
  <h2>Our Mission!</h2>
  <br>
  <p> Find my family's treasure on the ocean floors, and where ever else there might be treasure, and turn it around for profit!</p>

</div>
<div class="well">
  <h2><%= link_to "Check Out Our Wares!", products_path %></h2>
</div>
